<?php
/* @var $block Bundle */

use Magento\Bundle\Block\Catalog\Product\View\Type\Bundle;

/**@var OX\DeleteImages\ViewModel\AttributeValues $viewModel */
$viewModel = $block->getData('view_model');
$_product = $block->getProduct();
?>

<?php $_product = $block->getProduct() ?>
<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <p class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability:')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </p>
    <?php else: ?>
        <?php if ($viewModel->isOutOfProduction($_product)): ?>
            <div class="out-of-production" style="color:#cc0000">
                <span><?= $block->escapeHtml(__('Out of Production')) ?></span>
            </div>
        <?php endif; ?>
        <p class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability:')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </p>
    <?php endif; ?>
<?php endif; ?>
<?= $block->getChildHtml('bundle_prices') ?>
