<?php /* @var $block AbstractView */

use Magento\Catalog\Block\Product\View\AbstractView;

/**@var OX\DeleteImages\ViewModel\AttributeValues $viewModel */
$viewModel = $block->getData('view_model');
$_product = $block->getProduct();
?>

<?php $_product = $block->getProduct() ?>
<?php if ($block->displayProductStockStatus()):?>
    <?php if ($_product->isAvailable()):?>
        <div class="stock available" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('In stock')) ?></span>
        </div>
    <?php else:?>
        <?php if ($viewModel->isOutOfProduction($_product)): ?>
            <div class="out-of-production" style="color:#cc0000">
                <span><?= $block->escapeHtml(__('Out of Production')) ?></span>
            </div>
        <?php endif; ?>
        <div class="stock unavailable" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
